@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.hero {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
}

.title {
	font-size: $font-size-7;
	color: $color-text-accent-primary;
	text-shadow: 1px 1px rgba($color-text, 0.7);
}

.buttonContainer a:first-child {
	margin-right: 3.2rem;
}

@include whenMedium {
	.hero {
		max-width: 70rem;
	}

	.title {
		font-size: $font-size-6;
	}
}

@include whenSmall {
	.buttonContainer {
		display: flex;
		flex-direction: column;
		align-items: center;

		a:first-child {
			margin-right: 0;
			margin-bottom: 2.4rem;
		}
	}
}
