@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.button {
	@include buttonStyles;

	color: $color-text-accent-primary;
	box-shadow: 0px 0px hsl(0, 0%, 20%);

	&:hover,
	&:focus {
		color: $color-text-accent-primary;
		box-shadow: 2px 2px $color-text-accent-tertiary;
	}
}

.cta {
	background-color: $color-cta;
	border-color: $color-cta;
	color: $color-text-accent-primary;

	@include buttonAnimation;
}

.white {
	color: $color-cta;
	text-shadow: none;

	@include buttonAnimation(white, $color-cta-hover);

	&:hover,
	&:focus {
		color: white;
		text-shadow: 1px 1px rgba($color-text, 0.7);
	}
}
