@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.footer {
	padding: 3.2rem 0;
	background-color: $color-footer-background;
	font-size: $font-size-0;
}

.flex {
	justify-content: space-between;
}

.textContainer {
	color: $color-text-accent-tertiary;
	max-width: 40rem;
}

.logo {
	color: $color-cta;
	font-family: $font-family-title;
	font-size: $font-size-3;
	display: inline-block;
	margin-bottom: 1rem;

	&:hover {
		color: white;
	}
}

.social {
	a {
		margin-right: 2rem;
	}
	svg {
		width: 24px;
	}
}

.nav {
	margin-bottom: 2.4rem;

	a {
		margin-right: 4rem;
		font-weight: bold;
	}
}

.social a,
.nav a {
	color: $color-text-accent-tertiary;
	&:hover {
		color: $color-cta;
	}
}

.hours {
	display: flex;
	flex-direction: column;
	max-width: 30rem;
}

.hoursList {
	width: 100%;
	li {
		display: flex;
		justify-content: space-between;
	}
	span {
		font-weight: bold;
		margin-right: 1rem;
	}
}

.title {
	font-size: $font-size-4;
	text-align: center;
}

@include whenMedium {
	.nav {
		text-align: center;
	}

	.textContainer {
		text-align: center;
	}

	.social a,
	.nav a {
		margin: 0 1.4rem;
	}
}
