@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.title {
	color: $color-text-primary;
	font-size: $font-size-6;
	margin-bottom: 2.4rem;
}

.center {
	text-align: center;
}

@include whenMedium {
	.title {
		font-size: $font-size-5;
	}
}

@include whenSmall {
	.title {
		font-size: $font-size-4;
	}
}
